<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">User</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Body</Data></Cell>
      </Row>
    <% @posts.each do |post| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= post.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= post.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= post.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= post.created_at %></Data></Cell>
        <Cell><Data ss:Type="Text"><%= post.body %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

