<% @posts.each do |post| %>
	<div class="post_wrapper">
		<% if post.image.file? %>
			<td><%= image_tag post.image.url(:thumb) %></td>
		<% end %>
		<h2 class="title"><%= link_to post.title, post %></h2>
		<%= post.user.name %>
		| <%= post.created_at.strftime("%d de %B de %Y") %>
	</div>
<% end %>

<div class="post_wrapper">
	<%= will_paginate @posts, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
</div>