<div id="post_content">
	<h1 class="title">
		<%= @post.title %>
	</h1>

	<p class="date">
		Posted <%= time_ago_in_words(@post.created_at) %> Ago

		<% if @post.user == current_user %>
			| <%= link_to 'Edit', edit_post_path(@post) %>
			| <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Delete this post?' } %>
		<% end %>
	</p>

	<% if @post.image.file? %>
		<%= image_tag @post.image.url(:large) %>
	<% end %>

	<p class="body">
		<%= @post.body %>
	</p>

	<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>

		<h3>Add a comment</h3>
		<%= render "comments/form" %>
	</div>
</div>