<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "perfil.jpeg" %>
	</div>

	<div id="content">
		<h1>Matthaeus Bezerra Marinho</h1>
		<p>Bem vindo meu blog! Criado para o processo seletivo da <strong>Tracking Trade</strong>.</p>
		<p>Projeto: Aplicação em <strong>Ruby on Rails</strong> de um blog. O blog deverá conter o nome do estagiario na tela de início, por ex: 'blog do George'.</p>
		<p>1 - fazer uma aplicação de blog com todo sistema de <strong>CRUD</strong>.</p>
		<p>2 - a listagem do blog deverá ser por data da postagem.</p>
		<p>3 - fazer um <strong>Nested</strong> com comentários, cada postagem podera ter comentários dentro dele.</p>
		<p>4 - implementacao do <strong>Devise</strong>, deverá ter usuário admin (pode postar e comentar, excluir, editar os posts) e o usuario comum que só poderá comentar.</p>
		<p>5 - implementar o <strong>Paperclip</strong>, as postagens agora terão imagens junto com a postagem. Detalhe: a imagem deverá aparecer junto com o post em formato thumb.</p>
		<p>6	- implementar a <strong>gem Paranoia</strong>.</p>
		<p>7	- implementar download de <strong>Excel</strong> das postagens.</p>
	</div>
</div>