<!DOCTYPE html>
<html>
  <head>
    <title>Matthaeus Marinho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
    	<div id="logo">
    		<%= link_to root_path do %>
    			<%= image_tag "perfil2.jpg" %>
    		<% end %>	
    	</div>
      
      <div id="title">
        <b>Matthaeus Marinho</b>
      </div>

    	<ul>
    		<li class="category">Blog</li>
    		<li><%= link_to "Home", root_path %></li>
    		<li><%= link_to "About", about_path %></li>
    	</ul>
    	<ul>
      	<li class="category">Social</li>
    		<li><a href="https://www.facebook.com/matthaeus.marinho">Facebook</a></li>
    		<li><a href="mailto:mbm2@cin.ufpe.br">Email</a></li>
    	</ul>
      <ul>
        <li class="category">Download</li>
        <li><%= link_to "Excel", posts_path(format: "xls") %></li>
      </ul>

      <% if user_signed_in? %>
        <p class="sign_in"><%= current_user.name %></p>
      <% end %>

    </div>

    <div id="main_content">
      <div id="header">
        <% if current_page?(root_path) or current_page?(posts_path) %>
          <p>All Posts</p>
        <% elsif current_page?(about_path) %>
          <p>About</p>
        <% else %>
          <%= link_to "Back to All Posts", root_path %>
        <% end %>

        <% if user_signed_in? %>
          <div class="buttons">
            <%= link_to "New Post", new_post_path, class: 'button' %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: 'button' %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'button' %>
          </div>
        <% else %>
          <div class="buttons">
            <%= link_to "Sign Up", new_user_registration_path, class: 'button' %>
            <%= link_to "Login", new_user_session_path, class: 'button' %>
          </div>
        <% end %>

        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert") %>
        <% end %>

      </div>

      <%= yield %>
      
    </div>

  </body>
</html>
